.mealItem {
  margin: 15px;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.mealItem a {
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.mealItem div {
  width: fit-content;
}

.delete {
  display: flex;
  margin: auto;
  cursor: pointer;
  transform: scale(0.5);
}
