.mealItem {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mealItem a {
  display: flex;
  padding: 8px;
  flex-direction: column;
  flex: 1;
}

.mealItem a:hover {
  background-color: rgb(241, 240, 240);
}

.delete {
  display: flex;
  margin: auto;
  cursor: pointer;
  transform: scale(0.5);
}
