.scrolling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid gray;
  box-sizing: border-box;
  height: 100px;
  margin: 5px 20px;
}

.container {
  height: 400px;
  width: 400px;
  margin-top: 20px;
  box-shadow: 0 0 5px 5px grey;
}

.signUpButton {
  margin: 20px;
}
