<!-- <p>feed-missionaries works!</p> -->
<div class="mealListWrapper">
  <div>
    <div class="scroll-wrapper">
      <cdk-virtual-scroll-viewport itemSize="100" class="container">
        <app-meal-item
          *cdkVirtualFor="let meal of mealsList; let i = index"
          [meal]="meal"
          [index]="i"
          class="scrolling"
        ></app-meal-item>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div>
    <button
      mat-raised-button
      color="primary"
      routerLink="new"
      class="signUpButton"
    >
      New Sign Up</button
    ><router-outlet></router-outlet>
  </div>
</div>
