/* .mealListWrapper {
  display: flex;
  flex-direction: row;
} */

.scrolling {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  box-sizing: border-box;
  height: 100px;
  width: fit-content;
}

.container {
  height: 400px;
  width: 350px;
}
